<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TEMP API</title>
	</head>
	<body>
		<h1>Tempeture API</h1>
		<p>
			The response is structured like this: <br>
			<code>
				{
					location: Tofta,<br>
					data: {<br>
					airTemp: 18,5°C,<br>
					waterTemp: 18,5°C,<br>
					},<br>
				};
			</code>
		</p>
	</body>
</html>